.row
  .col-sm-10.col-sm-offset-1
    .start.text-center
      = link_to start_games_path, class: 'start-link' do
        = fa_icon :'rocket', text: 'BINGO'

- @games.each do |game|
  .row
    .col-sm-2.col-sm-offset-4
      = link_to game do
        = fa_icon :archive, text: game.id
