// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  .number, .finish {
    font-size: 370px;
    margin-bottom: 50px;
  }
}

.move {
  margin-bottom: 30px;

  .back, .next {
    font-size: 50px;
  }
}

.home {
  font-size: 30px;
}

.history {
  color: #fff;
}

.start {
  font-size: 170px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 150px;

  a.start-link {
    &:hover {
      text-decoration: none;
    }
  }
}
