// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game {
  .number, .finish {
    font-size: 250px;
    font-weight: bold;
  }


  .back, .next {
    font-size: 30px;
    vertical-align: middle;
  }
}
